@import "variables.scss";
@import "features.scss";

//main
.container {
  margin: 3em;
  background-color: $slytherinDarkGrey;
}

//static
.header {
  font-family: $fontMain;
}

.header__contact {
  display: flex;
  justify-content: flex-end;
}

.header__contact--icon {
  padding: 0.25em;
}

.header__descr--main {
  font-size: 2.5em;
}

.header__descr--side {
  font-size: 2em;
}

.playTutorial {
  font-family: $fontSide;
  font-size: 1.5em;
  margin: 1em 0 3em 0;
}

.playTutorial__button--start {
  font-size: 1.5em;
  margin: auto;
  display: block;
}

.outcomeContainer {
  font-family: $fontSide;
  font-size: 1.5em;
  margin: 2em auto;
  text-align: center;
}

.lvlBundle__container,
.categoryBundle__container {
  margin: 1em 0;
}

.lvlBundle__container,
.categoryBundle__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.lvlBundle__button,
.categoryBundle__button {
  margin: 0.2em 0.5em;
}

.question__frame {
  margin: 1em 0;
}

.question__title {
  margin: 0.5em;
}

.question__answer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.question__answerBtn {
  margin: 2em 5em;
  padding: 0.5em 3em;
}

.questionContainer__NextEnd {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.question__FeatureBtn {
  margin: 2em 5em;
  padding: 0.5em 3em;
}

.footer {
  font-family: $fontSide;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 1.5em;
  }
}

.footer__contact--icon {
  padding: 0.25em;
}

.question__frame {
  border: 1px solid #000;
}
