@import "variables.scss";
@import "features.scss";

//main
.container {
  margin: 3em;
}

//static
.header {
  font-family: $fontMain;
}

.header__contact {
  display: flex;
  justify-content: flex-end;
}

.header__contact--icon {
  padding: 0.25em;
}

.header__descr--main {
  font-size: 2.5em;
}

.header__descr--side {
  font-size: 2em;
}

.playTutorial {
  font-family: $fontSide;
  font-size: 1.5em;
}

.footer {
  font-family: $fontSide;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 1.5em;
  }
}

.footer__contact--icon {
  padding: 0.25em;
}

.question__frame {
  border: 1px solid #000;
}
