$fontMain: "Bebas Neue", cursive;
$fontSide: "Lato", sans-serif;

//slytherin
$slytherinDarkGreen: #1a472a;
$slytherinGreen: #2a623d;
$slytherinDarkGrey: #5d5d5d;
$slytherinGrey: #aaaaaa;

//gryffindor
$gryffindorBrown: #740001;
$gryffindorRed: #ae0001;
$gryffindorYellow: #eeba30;
$gryffindorDarkYellow: #d3a625;

//ravenclaw
$ravenclawDarkGrey: #545454;
$ravenclawGrey: #7e7e7e;
$ravenclawBlue: #111c40;
$ravenclawBlue2: #1d2a54;

//hufflepuff
$hufflepuffDarkYellow: #eeb527;
$hufflepuffYellow: #eec55d;
$hufflepuffGrey: #6d6158;
$hufflepuffDarkGrey: #38302c;

$black: #000;
